.footer {
    background-color: var(--footer-bg-color);
    border-top: 1px solid var(--border-color);
    padding: 12px 20px;
}

.footer-logo {
    width: 100px;
    height: auto;
}

.footer-text {
    font-size: 12px;
    color: var(--text-muted);
}

.footer-copyright {
    font-size: 10px;
    padding-bottom: 20px;
    margin-top: 12px;
    color: var(--text-muted);
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}