.style_enlarge_text__0eTO9 {
    animation: style_enlarge__kuEv4 3s ease-in-out;
}

.style_shrink_text__1kxLI {
    animation: style_shrinkText__WQCVQ 3s ease-in-out;
}

.style_winner__FpHzL {
    animation: style_scaleUpCrown__VYjOS 2s;
}

/* Animations */
@keyframes style_enlarge__kuEv4 {
    0% {
        font-size: 10px;
    }

    100% {
        font-size: 24px;
    }
}

@keyframes style_shrinkText__WQCVQ {
    0% {
        font-size: 18px;
    }

    100% {
        font-size: 10px;
    }
}

@keyframes style_scaleUpCrown__VYjOS {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}