* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;
  color: #1f2937;
  min-height: 100vh;
}


.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
  padding-top: 60px;
  padding-bottom: 20px;
}

/* body {
  background-color: #f0f0f0;
} */

.wheel {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 50px auto;
  border-radius: 50%;
  border: 8px solid #ffdf00;
  background-color: #fff8dc;
}

.segment {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 50%;
  left: 50%;
  transform-origin: center center;
}

.segment img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transform: rotate(-90deg);
}

.article-carousel-section .slick-dots {
  bottom: 16px;
  right: 16px;
  text-align: right;
}

.article-carousel-section .slick-dots li{
  margin: 0;
}

.article-carousel-section .slick-dots li button:before {
  color: #fff;
}
.article-carousel-section .slick-dots li.slick-active button:before {
  color: #fff;
}

.scroll {
    overflow-x: scroll;
    scrollbar-width: none;
}

.custom-dots .slick-dots li {
  width: 71px !important;
}

.custom-dots .slick-active img{
  border: 0.5px solid #fede34;
}
