.style_background__W3FcZ {
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

/* .style_foreground__jJqg2 {
  background-color: #191a32;
  max-width: 500px;
  overflow-x: hidden;
  position: relative;
  text-overflow: ellipsis;
  width: 100%;
} */